.formacao-container {
  max-width: 1200px;
  padding: 80px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background: #fff;
  border-radius: 4px;
  align-items: center;
  gap: 20px 80px;
}

.formacao .subtitulo {
  color: #d7d6d6;
  max-width: 6ch;
}

.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
}

.faculdade-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}

.faculdade {
  flex: 1;
  background: linear-gradient(122.62deg, #eeeeee 0%, #d7d6d6 100%);
  padding: 20px;
  border: 1px solid #dddcdc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.faculdade-tipo {
  font-size: 0.875rem;
  margin-bottom: 30px;
  color: #363636;
  margin-bottom: 10px;
}

.faculdade-curso {
  flex: 1;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 40px;
  position: relative;
}

.faculdade-curso::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 22px;
  background: linear-gradient(180deg, #f9fc65 0%, #fcda68 100%);
  left: -25px;
}

.faculdade-instituicao {
  font-size: 1.125rem;
  color: #363636;
}

.formacao-extra h3 {
  font-size: 0.875rem;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.formacao-extra h3::before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: -30px;
  top: -2px;
}

.formacao-extra li {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 20px;
  background: #d9d9d9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #dddcdc;
  border-radius: 50px;
  padding: 8px 20px;
}

.formacao-extra span {
  color: #8f8f8f;
}

.idiomas {
  margin-bottom: 60px;
}

.idiomas h3::before {
  background: url("../img/idiomas.svg") no-repeat center center;
}

.cursos li {
  display: flex;
  justify-content: space-between;
}

.cursos h3::before {
  background: url("../img/cursos.svg") no-repeat center center;
}

@media (max-width: 800px) {
  .formacao-container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }

  .formacao-texto {
    font-size: 1.25rem;
  }

  .formacao-extra h3::before {
    position: initial;
    margin-bottom: 10px;
  }

  .cursos li {
    align-items: center;
  }
}
