.header {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  place-items: ce;
}

.header-menu a {
  font-size: 1.125rem;
  line-height: 1.313;
  font-weight: 700;
  padding: 5px 10px;
  text-decoration: none;
  color: #141414;
  display: block;
  transition: 0.3s;
}

.header-menu a:hover {
  background-color: #fcda68;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

@media (max-width: 500px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }
}
